<div class="container mt-4">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input #email type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input #password type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputAddress1" class="form-label">Address</label>
            <input #address type="text" class="form-control" id="exampleInputAddress1" aria-describedby="addressHelp">
        </div>
        <button (click)="onAdduser(email.value, password.value, address.value, $event)" type="submit" class="btn btn-primary">Add user</button>
    </form>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users ; let i= index">
                <th scope="row"> {{ i+1 }} </th>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>{{user.address}}</td>
            </tr>
        </tbody>
    </table>

</div>